:root {
  --primary-color: #2bcbba;
  --primary-color: #4183c4;
  --main-bg-color: #2f2f2f;
  --box-bg-color: rgba(0,0,0,.05);
  --font-family: 'Fredoka One', cursive;
  --font-family: 'Nunito', sans-serif;
}
